body {
    background-color: #fff;
}

h1 {
    color: blue;
    text-align: center;
}

fieldset {
    border-radius: 5px;
}

form {
    background-color: #d6eaf8;
    align-items: left;
    border-radius: 5px;
    text-align: center;

}

input, select {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
}